p, h3, h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

/** Sizes **/
p {
  font-size: 1em;
}
h1 {
  font-size: 2.827em;
}
h2 {
  font-size: 1.999em;
}
h3 {
  font-size: 1.414em;
}

/** line-height **/
p {
  line-height: 1.414em;
}

/** leading **/
// p {
//   letter-spacing: 0.05em;
// }
