p, h3, h1, h2, h4, input, label, span  {
    font-family: 'Montserrat', sans-serif;
}

/** Sizes **/
p {
  font-size: 1em;
}
h1 {
  font-size: 2.827em;
}
h2 {
  font-size: 1.999em;
}
h3 {
  font-size: 1.414em;
}

/** line-height **/
p {
  line-height: 1.414em;
}

/** leading **/
// p {
//   letter-spacing: 0.05em;
// }

a:hover {
  color: white;
  text-decoration: none;
  p { color: white !important; }
}

#title-container {
  text-align: center;
  margin: 50px 0px;
}

#title {
  @include text-gradient($theme-primary, $theme-primary-darken);
}

.error {
  color: $theme-error;
}

// Drop cap
.firstcharacter {
  color: $theme-primary-light;
  float: left;

  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
