@import "_colours";
@import "_mixins";
@import "_font";

footer {
  background-color: $theme-footer;
  text-align: center;
  padding: 20px;
  p {
    @include text-gradient($theme-primary, $theme-primary-darken);
  }
}

@media (min-width: 1920px){
  footer {
    grid-area: footer;
  }
}
