@import "_colours";
@import "_mixins";

body {
  margin: 0px !important;
}
#container {
  background-color: $theme-background;

  nav#nav-container {
    background: $theme-primary-gradient;


    /*****************************
    ************ FONT ************
    *****************************/
    p, a, i {
      color: white;
    }

    h3, h3>i {
      color: $theme-primary-light;
    }

    #nav-footer>p {
      display: none;
    }
  }

  section#body-container {

    #nav-outside {
      display: none;
    }

    #title {
      @include text-gradient($theme-primary, $theme-primary-darken);
    }

    h3>i, h3 {
      @include text-gradient($theme-secondary, $theme-secondary-darken);
    }

  }

  footer {
    background-color: $theme-footer;
    p {
      @include text-gradient($theme-primary, $theme-primary-darken);
    }
  }
}
