@import "_colours";
@import "_mixins";
@import "_font";

$padding: 20px;

#container {
  background-color: $theme-background;

  .item-list-title {
    display: flex;
    flex-direction: row;
    padding: 0px;
    i {
      margin-right: 1em;
    }
  }

  nav#nav-container {
    background: $theme-primary-gradient;

    hr {
      margin: 50px 0px;
      min-width: 300px !important;
      width: 100% !important;
      max-width: 500px !important;
    }

    #nav-bar-container {
      padding: $padding;
      display: grid;
      grid-template-columns: 10% auto;

      ul {
        display: flex;
        flex-direction: row;
      }

      #nav-bar-logo {
        flex: display;
        align-self: center;
      }

      ul#nav-bar-nav {
        justify-content: flex-end;
        li {
          margin: 0px 30px;
          background: $theme-disabled;
          border-radius: 50%;

          i {
            padding: 20px;
            color: white;
          }
        }
      }
    }

    section#nav-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding:  50px 50px;
      p, a, i {
        color: white;
      }

      h3, h3>i {
        color: $theme-primary-light;
      }

      #profile-icon {
        display: flex;
        justify-content: center;
      }

      [id$=container]{
        min-width: 300px !important;
        width: 100% !important;
        max-width: 500px !important;
      }

      #social-container, #contact-container {
        #social-items, #contact-items {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 0px;
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            margin-bottom: 30px !important;

            p:nth-child(1){
              margin-bottom: 0px;

              i { font-size: 1.414em; }
            }
            div>p{
              text-align: center;
            }

          }
        }
      }

      #transcript-container {
        div>p {
          text-align: center;
        }
      }

      #nav-footer>p {
        display: none;
      }
    }
  }

  section#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    ul {
      padding: 0px;
    }

    #nav-outside {
      display: none;
    }

    #title-container {
      text-align: center;
      margin: 50px 0px;
    }

    ul[id$=container]{
      margin-bottom: 50px !important;
      min-width: 300px !important;
      width: 100% !important;
      max-width: 500px !important;
    }

    #title {
      @include text-gradient($theme-primary, $theme-primary-darken);
    }

    h3>i, h3 {
      @include text-gradient($theme-secondary, $theme-secondary-darken);
    }

  }

  footer {
    background-color: $theme-footer;
    text-align: center;
    padding: 20px;
    p {
      @include text-gradient($theme-primary, $theme-primary-darken);
    }
  }
}


/********************************
*********** Responsive **********/
@media screen and (max-width: 667px){

}
