@import "_colours";
@import "_mixins";
@import "_font";
@import "_animation.scss";
@import "_states";

$padding: 20px;


#quick-index-container {
  right: 20px;
  top: 50px;
  height: 100%;
  position: fixed;
  z-index: 100;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
  ul {
    padding-right: 80px;
    li {
      i {padding-right: 22.624;}
      i, h3 { color: $theme-primary-light; }
      p { padding-left: 75px;  color: $theme-primary-light;}
    }
  }
}

.flex-content {
  display: flex !important;
  position: fixed !important;
}

.hide-content {
  display: none !important;
}

#close-quick-nav-btn {
  display: none;
  .fa-window-close { color: $theme-warning !important; }
}

@media (max-width: 1200px){
  #quick-nav-btn {
    background: $theme-disabled !important;
  }

  #close-quick-nav-btn {
    display: flex;
  }

  #quick-index-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100% !important;
    margin-top: 0px !important;
    top: 0px;

    ul {
      padding: 10px;
      li {
        p {
          padding-left: 50px !important;
        }
      }
      ul {
       li {
         i {padding-right: 10px ;}

       }
        display: flex;
        flex-direction: row;
        li:nth-child(2){
          padding-left: 80px;
        }
      }

    }
  }
}

nav#nav-container {
  background: $theme-primary-gradient;

  ul#nav-bar-nav {
    justify-content: flex-end;
  }
}

.fixedNav {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    #nav-bar-nav, #logo {
        padding-right: 40px !important;
    }
}

.float-right {
  display: flex;
  justify-content: flex-end;
  background: none;
}

#nav-bar-nav, #nav-outside {
  padding-left: 0px !important;

  li {
    margin: 0px 10px;
    div:hover {
      background: $theme-accent;
    }
    div {
      background: $theme-disabled;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    i {
      padding: 20px;
      color: white;
    }
  }
}

#nav-bar-container {
  padding: 40px;
  display: flex;

  #nav-bar-nav {
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: row;
    padding-left: 0px !important;
  }

  #nav-bar-logo {
    flex: display;
    align-self: center;
  }
}

#slogan>div {
  width: 500px;
  margin-left: 20px;
  h3 {
    color: white;
    font-weight: 400;
    text-align: left;
  }
}

#nav-outside {
  display: none;
}


/********************************
*********** Responsive **********/
@media (max-width: 940px){
  #nav-container {
    ul#nav-bar-nav {
      justify-content: center !important;
    }
  }
  #nav-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  #nav-bar-logo {
    padding-bottom: 20px;
  }

  #nav-bar-nav {
    width: 100%;
  }
  #slogan, #slogan>div {
    max-width: 320px;
    margin: 0px;
  }
  #slogan>div>h3 {
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    max-width: 320px;
  }
}

@media (min-width: 1920px){
  #nav-outside {
    display: flex !important;
    width: 100%;
    max-width: 1200px !important;
    justify-content: flex-end;
    #nav-bar-outside {
      display: flex;
      flex-direction: row;
    }
  }

  #nav-bar-nav {
    position: fixed;
  }

}
