@import "_colours";
@import "_mixins";
@import "_font";

$padding: 20px;

nav#nav-container {
  background: $theme-primary-gradient;

  ul#nav-bar-nav {
    justify-content: flex-end;
  }
}

#nav-bar-nav, #nav-outside {
  li:hover {
    background: $theme-accent;
  }
  li {
    margin: 0px 10px;
    background: $theme-disabled;
    border-radius: 50%;

    i {
      padding: 20px;
      color: white;
    }
  }
}

#nav-bar-container {
  padding: $padding;
  display: grid;
  grid-template-columns: 10% auto;

  ul {
    display: flex;
    flex-direction: row;
  }

  #nav-bar-logo {
    flex: display;
    align-self: center;
  }
}

#nav-outside {
  display: none;
}

/********************************
*********** Responsive **********/
@media (max-width: 500px){
  #nav-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #nav-bar-logo {
    padding-bottom: 20px;
  }
  #nav-bar-nav {
    grid-area: logo
  }
}

@media (min-width: 1920px){
  #nav-outside {
    display: flex !important;
    width: 100%;
    max-width: 1200px !important;
    justify-content: flex-end;
    #nav-bar-outside {
      display: flex;
      flex-direction: row;
    }
  }
}
