/** Light **/
p, h3, h1, h2, h4, input, label, span {
  font-family: 'Montserrat', sans-serif; }

/** Sizes **/
p {
  font-size: 1em; }

h1 {
  font-size: 2.827em; }

h2 {
  font-size: 1.999em; }

h3 {
  font-size: 1.414em; }

/** line-height **/
p {
  line-height: 1.414em; }

/** leading **/
a:hover {
  color: white;
  text-decoration: none; }
  a:hover p {
    color: white !important; }

#title-container {
  text-align: center;
  margin: 50px 0px; }

#title {
  background: #6D51DE;
  background: linear-gradient(-180deg, #6D51DE, #4324be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; }

.error {
  color: #eb0d0d; }

.firstcharacter {
  color: #a391ea;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px; }

/* The animation code */
@keyframes pop {
  50% {
    transform: scale(1.2); } }
.pop:hover {
  animation: pop 0.3s linear 1; }

.active {
  background: #DD1A9C !important; }

#quick-index-container {
  right: 20px;
  top: 50px;
  height: 100%;
  position: fixed;
  z-index: 100;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end; }
  #quick-index-container ul {
    padding-right: 80px; }
    #quick-index-container ul li i {
      padding-right: 22.624; }
    #quick-index-container ul li i, #quick-index-container ul li h3 {
      color: #a391ea; }
    #quick-index-container ul li p {
      padding-left: 75px;
      color: #a391ea; }

.flex-content {
  display: flex !important;
  position: fixed !important; }

.hide-content {
  display: none !important; }

#close-quick-nav-btn {
  display: none; }
  #close-quick-nav-btn .fa-window-close {
    color: #eb630d !important; }

@media (max-width: 1200px) {
  #quick-nav-btn {
    background: grey !important; }

  #close-quick-nav-btn {
    display: flex; }

  #quick-index-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100% !important;
    margin-top: 0px !important;
    top: 0px; }
    #quick-index-container ul {
      padding: 10px; }
      #quick-index-container ul li p {
        padding-left: 50px !important; }
      #quick-index-container ul ul {
        display: flex;
        flex-direction: row; }
        #quick-index-container ul ul li i {
          padding-right: 10px; }
        #quick-index-container ul ul li:nth-child(2) {
          padding-left: 80px; } }
nav#nav-container {
  background: linear-gradient(-180deg, #6D51DE, #4324be); }
  nav#nav-container ul#nav-bar-nav {
    justify-content: flex-end; }

.fixedNav {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  width: 100%; }
  .fixedNav #nav-bar-nav, .fixedNav #logo {
    padding-right: 40px !important; }

.float-right {
  display: flex;
  justify-content: flex-end;
  background: none; }

#nav-bar-nav, #nav-outside {
  padding-left: 0px !important; }
  #nav-bar-nav li, #nav-outside li {
    margin: 0px 10px; }
    #nav-bar-nav li div:hover, #nav-outside li div:hover {
      background: #DD1A9C; }
    #nav-bar-nav li div, #nav-outside li div {
      background: grey;
      width: 60px;
      height: 60px;
      border-radius: 50%; }
    #nav-bar-nav li i, #nav-outside li i {
      padding: 20px;
      color: white; }

#nav-bar-container {
  padding: 40px;
  display: flex; }
  #nav-bar-container #nav-bar-nav {
    width: 100%; }
  #nav-bar-container ul {
    display: flex;
    flex-direction: row;
    padding-left: 0px !important; }
  #nav-bar-container #nav-bar-logo {
    flex: display;
    align-self: center; }

#slogan > div {
  width: 500px;
  margin-left: 20px; }
  #slogan > div h3 {
    color: white;
    font-weight: 400;
    text-align: left; }

#nav-outside {
  display: none; }

/********************************
*********** Responsive **********/
@media (max-width: 940px) {
  #nav-container ul#nav-bar-nav {
    justify-content: center !important; }

  #nav-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  #nav-bar-logo {
    padding-bottom: 20px; }

  #nav-bar-nav {
    width: 100%; }

  #slogan, #slogan > div {
    max-width: 320px;
    margin: 0px; }

  #slogan > div > h3 {
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    max-width: 320px; } }
@media (min-width: 1920px) {
  #nav-outside {
    display: flex !important;
    width: 100%;
    max-width: 1200px !important;
    justify-content: flex-end; }
    #nav-outside #nav-bar-outside {
      display: flex;
      flex-direction: row; }

  #nav-bar-nav {
    position: fixed; } }

/*# sourceMappingURL=nav.css.map */
