/** Light **/
p, h3, h1, h2, h4, input, label, span {
  font-family: 'Montserrat', sans-serif; }

/** Sizes **/
p {
  font-size: 1em; }

h1 {
  font-size: 2.827em; }

h2 {
  font-size: 1.999em; }

h3 {
  font-size: 1.414em; }

/** line-height **/
p {
  line-height: 1.414em; }

/** leading **/
#title-container {
  text-align: center;
  margin: 50px 0px; }

#title {
  background: #6D51DE;
  background: linear-gradient(-180deg, #6D51DE, #4324be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; }

#nav-bar-outside > li:nth-child(2) {
  background-color: #DD1A9C; }

#nav-bar-nav > li:nth-child(2) {
  background-color: #DD1A9C; }

#container {
  background-color: #E6EAEE; }
  #container .item-list-title {
    display: flex;
    flex-direction: row;
    padding: 0px; }
    #container .item-list-title i {
      margin-right: 1em; }
  #container nav#nav-container hr {
    margin: 50px 0px;
    min-width: 300px !important;
    width: 100% !important;
    max-width: 500px !important; }
  #container nav#nav-container section#nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px; }
    #container nav#nav-container section#nav-wrapper p, #container nav#nav-container section#nav-wrapper a, #container nav#nav-container section#nav-wrapper i {
      color: white; }
    #container nav#nav-container section#nav-wrapper h3, #container nav#nav-container section#nav-wrapper h3 > i {
      color: #a391ea; }
    #container nav#nav-container section#nav-wrapper #profile-icon {
      display: flex;
      justify-content: center; }
    #container nav#nav-container section#nav-wrapper [id$=container] {
      min-width: 300px !important;
      width: 100% !important;
      max-width: 500px !important; }
    #container nav#nav-container section#nav-wrapper #social-container #social-items, #container nav#nav-container section#nav-wrapper #social-container #contact-items, #container nav#nav-container section#nav-wrapper #contact-container #social-items, #container nav#nav-container section#nav-wrapper #contact-container #contact-items {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0px; }
      #container nav#nav-container section#nav-wrapper #social-container #social-items ul, #container nav#nav-container section#nav-wrapper #social-container #contact-items ul, #container nav#nav-container section#nav-wrapper #contact-container #social-items ul, #container nav#nav-container section#nav-wrapper #contact-container #contact-items ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin-bottom: 30px !important; }
        #container nav#nav-container section#nav-wrapper #social-container #social-items ul p:nth-child(1), #container nav#nav-container section#nav-wrapper #social-container #contact-items ul p:nth-child(1), #container nav#nav-container section#nav-wrapper #contact-container #social-items ul p:nth-child(1), #container nav#nav-container section#nav-wrapper #contact-container #contact-items ul p:nth-child(1) {
          margin-bottom: 0px; }
          #container nav#nav-container section#nav-wrapper #social-container #social-items ul p:nth-child(1) i, #container nav#nav-container section#nav-wrapper #social-container #contact-items ul p:nth-child(1) i, #container nav#nav-container section#nav-wrapper #contact-container #social-items ul p:nth-child(1) i, #container nav#nav-container section#nav-wrapper #contact-container #contact-items ul p:nth-child(1) i {
            font-size: 1.414em; }
        #container nav#nav-container section#nav-wrapper #social-container #social-items ul div > p, #container nav#nav-container section#nav-wrapper #social-container #contact-items ul div > p, #container nav#nav-container section#nav-wrapper #contact-container #social-items ul div > p, #container nav#nav-container section#nav-wrapper #contact-container #contact-items ul div > p {
          text-align: center; }
    #container nav#nav-container section#nav-wrapper #transcript-container div > p {
      text-align: center; }
    #container nav#nav-container section#nav-wrapper #nav-footer > p {
      display: none; }
  #container section#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    #container section#body-container h3 > i, #container section#body-container h3 {
      background: #E98A0C;
      background: linear-gradient(-180deg, #E98A0C, #f6ad4c);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial; }
    #container section#body-container ul {
      padding: 0px; }
    #container section#body-container #title-container {
      text-align: center;
      margin: 50px 0px; }
    #container section#body-container #cover-letter-container li > ul li:nth-child(2) {
      flex-grow: 1; }
    #container section#body-container ul[id$=container] {
      margin-bottom: 50px !important;
      min-width: 300px !important;
      width: 100% !important;
      max-width: 500px !important; }
  #container footer {
    background-color: white;
    text-align: center;
    padding: 20px; }
    #container footer p {
      background: #6D51DE;
      background: linear-gradient(-180deg, #6D51DE, #4324be);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial; }

/********************************
*********** Responsive **********/
@media (min-width: 1920px) {
  #container {
    display: grid;
    grid-template-columns: 500px auto !important;
    grid-template-areas: "nav body" "footer footer"; }

  #body-container {
    grid-area: body; }

  #nav-bar-nav {
    display: none !important; } }

/*# sourceMappingURL=index.css.map */
